.sidebar{
    overflow-y: overlay;
    height: 100vh;
    flex: 0.2;
    color: #ffffff;
    min-width: 230px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #040404;
}


.sidebar__logo{
    height: 70px;
    
    padding: 10px;
    margin-right: auto;
}

.sidebar__title{
    font-size: 14px;
    padding: 5px;
    margin-left: 10px;
}